.hero-body {
  padding: 1rem;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#canvas {
  background: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.clear {
  margin-top: 20px;
}
